*{
	margin:0;
	padding:0;
}
#head{
	width:96%; 
	padding:10px;
	height:150px;
	float:left;
	margin:5px;
} 
div#login{
	border:solid 1px #ededed;
	background-color:#fafafa;
	padding:15px;
	position:absolute;
	left:25%;
	top:100px;
	width:480px;
	text-align:right;
	margin:0pt;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
div#login .lgo label {
	text-align:left;
	display:block;
	padding:10px 0px 5px 0px;
	font-weight:bold;
}
div#login  .in{
	text-align:left;
	width:100%;
	padding:10px;
	
}

div#evento{
	border:solid 1px #F0F0F0;
	width:96%;
	padding:10px;
	text-align:right;
	background:#F0F0F2 url(../img/abg_profile.jpg) 40px 20px repeat-x scroll left top;
	margin:5px;
	background-color:#fff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	float:left;


}
div#encabezado{
	position:absolute;
	top: 10px;
	left:10px;
	width:910px;
	height:70px;
	border: 1px solid #444;
}

div#principal{
	text-align:center;
	position:absolute;
	top:90px;
	left:10px;
	width:800px;
	height:300px;
	border:1px solid #444;
}

div#lateral{
	position:absolute;
	top:90px;
	left:820px;
	width:100px;
	height:300px;
	border:1px solid #444;
}

body {
	background: url(../img/top_bg.gif) repeat-x #ffffff;
	color:#484848;
	font-family:"Bitstream Vera Sans",Verdana,Helvetica;
	font-size:11px;
	padding-bottom:10px;
}

ul {
	list-style-type: none;
}

input {
background:#F4F4F4 none repeat scroll 0 0;
border:1px solid #CCCCCC;
padding:1px;
}

.menu_top {
	float: left;
	background:#6689CC url(img/cabtopmenuleft.gif) no-repeat scroll left bottom;
	height:23px;
	position:absolute;
	right:0;
	top:0.05em;	
	height:23px;
	position:absolute;
	right:0;
	top:0.05em;
}

input:focus {
background:#FFFFFF none repeat scroll 0 0;
border:1px solid #5CA5C9;
padding:1px;
}

a {
	color:#5CA5C9;
}
a:hover {
color:#B80101;
}
a.imglink,{
	border:0 none;
}
h1 {
	text-align: left;
	border-bottom:5px solid rgb(84,141,212);
	color:rgb(155,187,89);
	font-weight:bold;
	font-family:"Bitstream Vera Sans",Verdana,Helvetica;
	font-size:13px;
	padding:8px 10px 8px 6px;
}

fieldset.adminform {
	border:1px solid #CCCCCC;
	margin:0 10px 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

}

fieldset {
	border:1px solid #CCCCCC;
	margin-bottom:10px;
	padding:5px;
	text-align:left;

}
legend {

	color:#0174BB;
	font-size:12px;
	font-weight:bold;
}

div.col 
{ 
	float: left; 
}
div.width-30 
{ 
	width: 30%; 
}
div.width-45 
{ 
	width: 45%; 
}
div.width-40 
{ 
	width: 40%; 
}
div.width-55 
{ 
	width: 55%; 
}
div.width-50 
{ 
	width: 50%; 
}
div.width-60 
{ 
	width: 60%; 
}
div.width-70 
{ 
	width: 70%; 
}
.error
{
	background-color:#E6C0C0;
	border-bottom:3px solid #DE7A7B;
	border-top:3px solid #DE7A7B;
	color:#CC0000;
	margin-top:5px;
	padding:5px;
}
.tabla_info {
	background-color:#F6F6F6;
	border-bottom:1px solid #E9E9E9;
	border-right:1px solid #E9E9E9;
	color:#666666;
	font-weight:bold;
	text-align:right;
	width:140px;
	padding:3px 5px;
}
.bot{
	background-color:#353A66;
	border-color:#9EA3D5 rgb(0, 0, 0) rgb(0, 0, 0) rgb(158, 163, 213);
	border-style:solid;
	border-width:1px;
	color:#FFFFFF;
	cursor:pointer;
	font-family:"Bitstream Vera Sans",Verdana,Helvetica;
	font-size:11px;
	font-weight:normal;
	letter-spacing:0.1em;
	padding:4px 6px;
}

.buscador 
{
	text-align:left;
}
.buscador label
{
	padding:10px 0px;
	display:block;
	font-weight:bold;
	text-align:left;
}
.input_o {
	border-color:#979AC2;
	border-style:solid;
	border-width:2px 1px 1px 2px;
	color:#333333;
	font-family:"Bitstream Vera Sans",Verdana,Helvetica;
	font-size:11px;
	margin:8px;
}
.lista{
	color:#333333;
	font-family:"Bitstream Vera Sans",Verdana,Helvetica;
	font-size:10px;
	width:150px;

}
.lista optgroup{
	font-size:11px;
	font-weight:bold;
	padding-top:10px;

}
.lista option{
	color:#555555;
	font-family:"Bitstream Vera Sans",Verdana,Helvetica;
	font-size:10px;
	padding:0px 0px;
	
}

.tabla, .tabla2
{
	border-collapse:collapse;
	padding:5px;
}
.tabla2
{
	width:100%;
	border:4px solid #fff;
}

.tabla , .tabla2 td{
	/*border-top:solid 1px #F0F0F0;*/
	/*border-bottom:solid 1px #F0F0F0;*/
	padding:6px 15px;
	font-family:"Bitstream Vera Sans",Verdana,Helvetica;
	font-size:9px;
	border-bottom:1px dotted #CCCCCC;
	text-align:center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

}

.tabla2  th{
	border-bottom:1px solid #AFBFC8;	
	background-color:#0174BB;
	color:white;
	padding:5px 20px;
	font-family:"Bitstream Vera Sans",Verdana,Helvetica;
	font-size:9px;
	font-weight: bold;
}

.tabla_res{
	background: url(img/sfxm_bg.png) top repeat-x #ffffff;
	border-bottom:solid 3px #EFEFEF;
}
.tabla_res_act{

	background-color:#FEFEFE;
	
}
.tabla_res_ina{
	background-color:#FAFAFA;
	color:#999999;

}
.tabla_res_lei{
	background-color:#EFEFEF;
	color:#666666;
}
.hl
{
	background-color:yellow;
}
.tr1{
	background-color:#EDF1F3;
}
.tr0{
	background-color:#FFFFFF;
}

.tabla  th{
	background:#B5B6DA url(../img/abg_table.jpg) repeat-x scroll left top;	
	font-family:"Bitstream Vera Sans",Verdana,Helvetica;
	padding:8px 25px;
	font-size:12px;
}
