/* ======================================================== */
/*	Created by Devit Schizoper 								*/
/*	Created HomePages http://LoadFoo.starzonewebhost.com	*/
/*	Created Day 01.12.2006 									*/
/* ======================================================== */

div#login {
	color:#ffffff;
	padding-top:50px;
}

body {
	margin: 0px;
	background: url(../img/top_bg.gif);
	background-repeat: repeat-x;
	font-family: Verdana, Arial, sans-serif;
        font-size: .7em;
}

p {
	line-height: 17px;
	margin: 11px 0 10px 0;
	padding: 0px;
}

h2 {
	color: #9f9f9f;
	margin:0px;
	padding:0px;
	font-size: 15px;
}

ul {
	font-size: 10px;
	margin:0;
	padding:0;
	list-style-image: url(../img/bullet.gif);
}

a {
	color: #93B300;
}

a:hover {
	text-decoration: none;
}

blockquote{
	background: #F7FDE3;
	color: #606060;
	padding: 10px;
}
#cargando_contenedor {
    position:absolute;
    width:100%;
    height:100%;
	opacity:2.5;
	top:0px;
	left:0px;
	text-align: center;
	background:#fff url(../img/gif-load.gif) no-repeat center;
}
#cargando_div {
	margin-top:200px;
	left:0px;
	text-align: center;
}
/**** Main Container ***/


#wrap {
       margin-left: auto;
       margin-right: auto;
       width: 750px;
}
#wrap_b {
       margin-left: auto;
       margin-right: auto;
       width: 1300px;
}

/**** Top ***/


#top {
	width: 130%;
	height: 90px;
	color: #fff;
	background: #000 url(../img/top_bg.gif);
	overflow:hidden;
}

#top h2 {
	color: White;
	letter-spacing: 3px;
	font-size: 2.4em;
	font-weight: normal;
	position: relative;
	margin: 0px;
	top:33px;
	display:block;
	float:left;
	background: url(../img/bg_t.gif) no-repeat;
	padding-left: 10px;
}

#top h2 a {
	color: white;
	text-decoration: none;
}

#top h2 a:hover {
        color: #93B300;
}

#top h3 {
	color: White;
	font-size: 10px;
	letter-spacing: 1px;
	font-weight: normal;
	position: relative;
	margin: 0px;
	top:33px;
	display:block;
	float:left;
	padding-left: 10px;
}

/**** Main Menu ***/


#menu {
	display: block;
	float:right;
}

#menu ul {
	margin: 0;
	list-style: none;
}

#menu li {
	display: block;
	float: left;
	white-space: nowrap;
}

#menu li a {
	display: block;
	padding: 55px 20px 12px 20px;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}

* html #menu a {width:1%;}

#menu li a:hover {
	background: url(../img/bg_menu.gif);
}

#menu li a.current {
	letter-spacing: 1px;
	color: gray;
	background: url(../img/bg_menu.gif);
}

#menu li a.current:hover {
	color: #fff;
}


/**** Content Container ***/


#content {
	width: 100%;
	margin-top:30px;
}

#content h2 {
	margin: 0;
	padding-top: 10px;
	border-bottom:5px solid rgb(84,141,212);
	color:rgb(155,187,89);
}
#content .td2 {
	background-color:#F6F6F6;
	border-bottom:1px solid #E9E9E9;
	border-right:1px solid #E9E9E9;
	color:#666666;
	font-weight:bold;
	padding:3px 5px;
	text-align:right;
	width:140px;
}
#content .tabla  th{
	font-family:"Bitstream Vera Sans",Verdana,Helvetica;
	padding:8px 10px;
	font-size:12px;
	background-color:#efefef;
}

#content .tabla
{
	border-collapse:collapse;
	padding:3px;
	width:100%;
	border-top:1px solid #DADADA;
	border-bottom:2px solid #DADADA;
	margin:3px;
	
}

#content .tabla  td{
	/*border-top:solid 1px #F0F0F0;*/
	/*border-bottom:solid 1px #F0F0F0;*/
	padding:6px 10px;
	font-family:"Bitstream Vera Sans",Verdana,Helvetica;
	font-size:9px;
	border-bottom:1px dotted #CCCCCC;
	text-align:center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

}
#content .tabla2  th{
	font-family:Arial,verdana;
	padding:4px 8px;
	font-size:.9em;
	background-color:#fdfdfa;
}

#content .tabla2
{
	border-collapse:collapse;
	padding:.9em;
	width:100%;
	border-top:1px solid #DADADA;
	border-bottom:2px solid #DADADA;
	margin:3px;
	
}

#content .tabla2  td{
	/*border-top:solid 1px #F0F0F0;*/
	/*border-bottom:solid 1px #F0F0F0;*/
	padding:3px 7px;
	font-family:Arial,verdana;
	font-size:.9em;
	border:1px solid #ededed;
	text-align:center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

}
/**** Content ***/


#left ul {
	padding: 15px 0 15px 35px;
	margin:0;
}

#left li {
	margin-bottom:5px;
}
 
#left {
	width: 95%;
	float:left;
	display: block;
	margin-left: 20px;
	display: inline;
}

#leftEstad {
	width: 95%;
	float:left;
	display: block;
	margin-left: 0px;
	display: inline;
}

/**** Sidebar ***/


#right {
	width: 315px; 
	float: right;
	display:block;
	margin-top: 10px;
}

#right .box {
	width: 24em;/*280px*/
	background: #F6F9FB;
	border: 1px solid #E1E1E1;
	padding:10px 10px 15px 10px;
	float: right;
}

#right .box h2 {
	font-size: 1.1em;
	margin: 0px 0 0px 0;
	padding:0px 0 5px 0;
}

#right .box a {
	margin: 10px 0 10px 0;
	color: #93B300;
	font-size: 10px;
}

#right .box p {
	margin: 5px 0 10px 0;
	line-height: 15px;
}

#right .box ul {
	padding: 0 0 7px 20px;
	margin:10px 0 10px 0;
}

#right .box li {
	margin-top:5px;
}

#nav{ list-style: none; margin: 2.0em 0; width: 25em; float: right;}
#nav li{ padding: 0; margin: 0; }
#nav a{
	display: block;
	height: 2.0em;
	padding: 0.3em 0.3em 0.3em 0.8em;
	border-bottom: 2px; /*solid #1a1a1a*/
	border-top: 2px; /*solid #1a1a1a*/
	color: #93B300;
	background-color: #F7F9FB;
	font-weight: bold;
	text-decoration: none;
	}

#nav a:hover{
	color: #1a1a1a;
	background: url(../img/bg_t.gif) no-repeat;
	background-color: #fff;
	font-weight: bold;
	}	

/**** Clear Div ***/


#clear {
	display: block;
	clear: both;
	width: 100%;
	height:1px;
	overflow:hidden;
}


/**** Footer ***/


#footer {
    margin: 40px auto 0 auto;
	text-align: center;
	border-top: dotted 1px gray;
	padding: 20px 0 20px 0;
	width: 70%;
}

#footer p {
	margin: 0px;
	padding: 0;
}

.lval, .linv, .lerr 
{
	padding:6px 10px;
	margin:1px;
	color:#141414;
}
.lval
{
	border:1px solid #458B00;
	background-color:#66CD00;
}
.linv
{
	border:1px solid #FCFCF0;
	background-color:#FEFEF2;
}
.lerr{
	border:1px solid #FD8D8D;
	background-color:#FDADAD;
}


